body {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    font-family: 'Roboto', sans-serif;
    margin:0;    
}
.hero {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 16px;
    padding-bottom: 150px;
}

.hero-text {
    margin-right: 50px;
}

.hero, .footer
{   /*Specifies color of bot hero and footer*/
    background-color: #1F2937;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-deck {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 150px;
    text-align: center;
}

.info-image {
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin:0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin:0;
}

.hero-image {
    background-color: gray;
    width: 500px;
    height: 300px;
    flex-shrink: 0;
}

.navbar { /*This is div for the top part of the hero, it aligns the elements horizontally and pushes the links to the right*/
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;    
}

.right-links {/*This section adds space to links*/
    display: flex;
    gap: 16px;
    padding: 24px;
    margin: 0;/*this removes padding and margin from link styles */
    padding: 0;
}

.navbar, .hero-bottom { /*This sets a max width for the content*/
    
    flex: 1 1 content;
    /*max-width: 1100px;*/
}

button { /*Adds blue color, removes border and rounds corners of buttons*/
    background-color: #3882F6;
    padding: 4px 16px 4px 16px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;    
}

.hero-bottom {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hero-container { /*This div contains the text, hero title, and sign up button*/
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 100px;
    /*max-width: 500px;*/
    /*min-width: 200px;*/
    margin-bottom: 20px;
}

.quote-content {  
    width: 800px
    
}
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.quote p {
    margin: 0;
}

#quote-author {
    font-size: 25px;
    color: #1F2937;
    font-style:normal;
    font-weight: bold;
    text-align: right;
}

.container {
    max-width: 1000px;
}

.callAction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-block {
    box-sizing: border-box;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding: 30px 80px;
    color: white;
    border-radius: 4px;
    margin: 60px 0px;
    font-size: 13px;
}

.call-text p {
    margin: 0;
}

.call-block button {
    border-style: solid;
    border-width: 2px;
}
h2 {
    margin: 0;
}